@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.main{
    height: 100vh;
    width: 100vw;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: yellow;
}
.img{
    height: 50vh;
    width:  auto;
    position: absolute;
    top: 25vh;
    left: 25vw;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}
.background_image{
    width: 100%;
    height: auto;
    visibility: hidden;
}
p,address{
    color: darkgray;
    font-family: 'Potta One', cursive;
}
b,h2,header{
    color: black;
    font-family: 'Potta One', cursive;
}
#about,#contacts,#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellow;
}
p{
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10000;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(0);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}