@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&family=Roboto&display=swap');
.container{
    height: 100vh;
    width: 100vw;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    background: salmon;
}
#header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
nav{
    margin-top: 2vh;
    display: flex;
}
nav a{
    margin: 0 30px 0 0;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(salmon,orangered);
}

.profile_pic{
    margin-right: 5vw;
}
.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.script{
    align-items: center;
}
#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(orangered,salmon);
}
.name_of_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}
#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(salmon,lightblue);
}
.contact_me{
    margin-bottom: 8vh;
}
#title{
    padding-top: 1vh;
    color: black;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background: salmon;
    opacity: 50%;
    z-index: -1;
}
p,h1,h2{
    /*    font-family: 'Roboto', sans-serif;
        font-family: 'Indie Flower', cursive; */
    font-family: 'Righteous', cursive;
    text-align: center;
    color: wheat;
}
h3{
    font-family: 'Righteous', cursive;
    color: black;
}
h3:hover, #title:hover {
    color: skyblue;
}
body{
    margin: 0;
}
a{
    color: transparent;
}

/* pop-up window*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

/* overplay which display when pop-up window occurs*/
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*buttons to open project details window*/
.open-window {
    background-color: gray;
    color: pink;
}

footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFB642;
    background-color: lightblue;
    /*background-image: linear-gradient(to bottom right, #15089D, #EA0063);*/
}

.social_container {
    display: flex;
    justify-content: space-between;
    margin-right: 45vw;
    margin-left: 45vw;
    text-align: center;
}

/*
    media
 */
.hamburger{
    text-align: right;
    height: 10vh;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 10vh;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}
@media only screen and (max-width: 700px) {
    label{
        display: block;
        cursor: pointer;
    }
    nav{
        text-align: center;
        width: 100%;
        display: none;
    }
    nav a{
        display: block;
        border-bottom: 1px solid wheat;
        margin: 0;
    }
    #toggle:checked + nav{
        display: block;
    }

}